
.p4 {
	font-family: "Copperplate", fantasy;
	color: green;
	text-align: center;
	vertical-align: 40%;
}

button {
	cursor: pointer;
	background-color: darkgreen;
	color:chartreuse;
	font-family: "Copperplate", fantasy;

}

.ccc {
	padding:20px;
	float:left;
	box-align:center
}

.btn-hover {
    width: 150px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 45px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color {
    background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
    box-shadow: 0 4px 8px 0 rgba(144, 144, 144, 0.75);
}

.card-hover {
    width: 300px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 400px;
    text-align:center;
    border: none;
    background-size: 500% 500%;

    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.card-hover:hover {
    background-position: 100% 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.card-hover:focus {
    outline: none;
}

.card-hover.color {
    background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
    box-shadow: 0 4px 8px 0 rgba(144, 144, 144, 0.75);
}

.row {
    display: table;
    width: 100%; 
    table-layout: fixed; 
    border-spacing: 10px;
}

.column {
    display: table-cell;
}